html{color:#000;background: #e8e8e8;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-family: "museo-sans",sans-serif;font-weight: 900;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}

/* main styles */
body {
    /*font-family: Georgia, serif;*/
    font-family: 'Museo-sans', Sans-Serif;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
a, a:link, a:focus {
    text-decoration: none;
    color: #5266bf;
}
.dev-completed a,
li.dev-completed {
    color: #BFA452;
}
.file-signedoff a,
li.file-signedoff {
    color: #52BF52;
}
a:hover {
    color: #2b2b2b;
    text-decoration: none;
}
b, strong {
    font-weight: normal;
}
p {
    margin-bottom: 20px;
}
.container {
    max-width: 940px;
    margin: 0 20px;
    position: relative;
}
@media only screen and (min-width: 980px) {
    .container {
        margin: 0 auto;
    }
}


.header {
    overflow: hidden;
    float: left;
    position: fixed;
    top: 0;
    width: 50%;
    right: 0;
    padding: 60px 0 30px;
    background: #545454;
}
.header a {
    border: 0;
}
.header .logo {
    float: left;
    max-width: 63px;
    margin-bottom: 10px;
}
@media only screen and (min-width: 660px) {
    .header .logo {
        max-width: 83px;
        margin-bottom: 0;
        left: 0px;
        position: relative;
    }
}

@media only screen and (min-width: 961px) {
    .header .logo {
        left: 30px;
    }
}
.header .logo img {
    max-width: 100%;
    height: auto;
}
.header .project-title {
    float: left;
    clear: both;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;=:-1px;
}
@media only screen and (min-width: 660px) {
    .header .project-title {
        float: right;
        text-align: right;
        clear: none;
        max-width: 60%;
        right: 0px;
        position: relative;
    }
}
@media only screen and (min-width: 961px) {
    .header .project-title {
        float: right;
        text-align: right;
        clear: none;
        max-width: 60%;
        right: 0px;
        position: relative;
        right: 30px;
        color: #fff;
    }
}
.header .last-modified {
    font-weight: normal;
    display: block;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0;
    padding-top: 5px;
    font-family: Georgia, serif;
    text-transform: none;
    color: #fff;
    font-size: 14px;
}
.main {
    clear: both;
    width: 100%;
    float: left;
    height: 100%;
    overflow: hidden;
}
h2 {
    padding: 20px 0 10px;
    font-size: 20px;
    line-height: 48px;
    width: 100%;
    clear: both;
    font-weight: 900;
    /*font-family: 'Helvetica Neue', Arial, Sans-Serif;*/
    font-family: 'Museo-sans', Sans-Serif;
    text-transform: uppercase;
}
h2 b {
    font-weight: bold
}
h2 span {
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    /*font-family: 'Helvetica Neue', Arial, Sans-Serif;*/
    font-family: 'Museo-sans', Sans-Serif;
    vertical-align: baseline;
}
span.small {
    font-size: 12px;
    vertical-align: middle;
}
.file-list {
    padding: 0;
    width: 100%;
    float: left;
    border-top: 1px solid #E6E6E7;
    font-size: 16px;
}
.file-list li {
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
    width: 100%;
    float: left;
    font-size: 16px;
    line-height: 26px;
}
.file-list li span {
    display: block;
    color: #999999;
    font-size: 14px;
    line-height: 14px;
}
.file-list li:first-child {
    border-top: 0;
}
.page-link {
    width: 100%;
    float: left;
    border-top: 1px solid #E6E6E7;
    border-bottom: 1px solid #E6E6E7;
    font-size: 16px;
    padding: 10px 0;
    margin: 0;
}
.page-link strong {
    clear: both;
    float: none;
    display: block;
    text-align: left;
    font-size: 12px;
    padding-top: 2px;
}
.back-link {
    width: 100%;
    float: left;
    font-size: 16px;
    padding: 20px 0 10px;
    margin: 0;
}
.footer {
    padding: 20px 0;
    overflow: hidden;
    clear: both;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
}

.client-image {
    position: relative;
    float: left;
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
}

.site-files {
    position: relative;
    float: right;
    width: 50%;
    height: 100vh;
    overflow: scroll;
}

.site-files .container {
    padding: 200px 30px;
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) {

    .site-files .container {
        padding: 30px;
    }

}

@media only screen and (max-width: 960px) {

    .client-image {
        position: relative;
        width: 100%;
        height: 160px;
        background-repeat: no-repeat;
    }

    .site-files {
        position: relative;
        float: none;
        width: 100%;
        height: auto;
    }

    .site-files .container {
        padding: 30px;
       }

    .header {
        padding: 0;
        position: relative;
        width: 100%;
        left: 0;
       }

    .header .last-modified {
        text-align: left;
    }

}

.client-image::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, .6);
    content: "";
}

.client-logo {
    z-index: 99;
    position: absolute;
    right: 30px;
    top: 20px;
    height: 30px;
}

@media only screen and (min-width: 961px) {
    .client-logo {
        right: auto;
        top: auto;
        height: 30px;
        left: 10px;
        bottom: 30px;
    }
}

.site-description {
    margin-bottom: 20px;
}

.site-description p {
    font-size: 18px;
    line-height: 24px;
}
