// Buttons
//
// Button styles can be applied to anything with the `.btn` class applied.
// However, typically you'll want to apply these to only `<a>` and `<button>` elements for the best rendering.

$btn-border-width: 2px;

$btn-padding-y-small: $vr;
$btn-padding-x-small: 15px;
$btn-line-height-small: $vr*4 - $btn-border-width*2;
$btn-total-height-small: $btn-padding-y-small*2 + $btn-line-height-small;

$btn-padding-y-default: $vr*2;
$btn-padding-x-default: 20px;
$btn-line-height-default: $vr*4 - $btn-border-width*2;
$btn-total-height-default: $btn-padding-y-default*2 + $btn-line-height-default;

$btn-padding-y-large: $vr*2;
$btn-padding-x-large: 30px;
$btn-line-height-large: $vr*7 - $btn-border-width*2;
$btn-total-height-large: $btn-padding-y-large*2 + $btn-line-height-large;

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.btn {
	@include underline-reset();

	background-color: $brand-black;
	background-image: none;
	border: $btn-border-width solid $brand-black;
	box-shadow: none;
	color: $brand-white;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family-base;
	font-size: 12px;
	font-weight: $font-weight-bold;
	line-height: $btn-line-height-small;
	margin-bottom: 0; // For input.btn
	min-height: $btn-total-height-small;
	padding: $btn-padding-y-small $btn-padding-x-small;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 250ms, border-color 250ms;
	vertical-align: top;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased; // get rid of faux bolding

	@media #{$BPC} {
		font-size: $font-size-base;
		line-height: $btn-line-height-default;
		min-height: $btn-total-height-default;
		padding: $btn-padding-y-default $btn-padding-x-default;
	}

	&:hover,
	&:focus {
		background: lighten($brand-black, 10%);
		border-color: lighten($brand-black, 10%);
		box-shadow: none;
	}

	&:active,
	&.active {
		box-shadow: none;
		outline: 0;
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] & {
		opacity: 0.65;

		box-shadow: none;
		cursor: default;
		pointer-events: none; // Future-proof disabling of clicks
	}
}

.btn--small {
	font-size: 12px;
	line-height: $btn-line-height-small;
	min-height: $btn-total-height-small;
	padding: $btn-padding-y-small $btn-padding-x-small;

	@media #{$BPC} {
		font-size: 12px;
		line-height: $btn-line-height-small;
		min-height: $btn-total-height-small;
		padding: $btn-padding-y-small $btn-padding-x-small;
	}
}

.btn--large {
	font-size: $font-size-base;
	line-height: $btn-line-height-default;
	min-height: $btn-total-height-default;
	padding: $btn-padding-y-default $btn-padding-x-default;

	@media #{$BPC} {
		font-size: 18px;
		line-height: $btn-line-height-large;
		min-height: $btn-total-height-large;
		padding: $btn-padding-y-large $btn-padding-x-large;
	}
}

.btn--icon-right {
	position: relative;
	padding-right: 25px;

	@media #{$BPE} {
		padding-right: 45px;
	}

	.icon {
		position: absolute;
		top: 50%;
		transition: transform 250ms ease-in-out;
		transform: translate(4px, -50%);

		@media #{$BPE} {
			transform: translate(14px, -50%);
		}
	}

	&:hover {

		.icon {
			transform: translate(8px, -50%);

			@media #{$BPE} {
				transform: translate(20px, -50%);
			}
		}
	}
}


.btn--style-a {
	background-color: $brand-color-a;
	border-color: $brand-color-a;
	color: #FFF;

	&:hover,
	&:focus {
		background: darken($brand-color-a, 10%);
		border-color: darken($brand-color-a, 10%);
	}
}

.btn--style-b {
	background-color: $brand-color-b;
	border-color: $brand-color-b;
	color: #FFF;

	&:hover,
	&:focus {
		background: darken($brand-color-b, 10%);
		border-color: darken($brand-color-b, 10%);
	}
}

.btn--style-c {
	background-color: $brand-color-c;
	border-color: $brand-color-c;
	color: #FFF;

	&:hover,
	&:focus {
		background: darken($brand-color-c, 10%);
		border-color: darken($brand-color-c, 10%);
	}
}

.btn--style-d {
	background-color: $brand-color-d;
	border-color: $brand-color-d;
	color: #FFF;

	&:hover,
	&:focus {
		background: lighten($brand-color-d, 10%);
		border-color: lighten($brand-color-d, 10%);
	}
}
