// fonts.scss

@font-face {
    font-family: 'geometric_slab';
    src: url("./fonts/geometric/geometric_slabserif_703_medium_bt-webfont-webfont.eot");
    src: url("./fonts/geometric/geometric_slabserif_703_medium_bt-webfont-webfont.eot?#iefix") format("embedded-opentype"),
		 url("./fonts/geometric/geometric_slabserif_703_medium_bt-webfont-webfont.woff") format("woff"),
		 url("./fonts/geometric/geometric_slabserif_703_medium_bt-webfont-webfont.ttf") format("truetype"),
		 url("./fonts/geometric/geometric_slabserif_703_medium_bt-webfont-webfont.svg#lobster_tworegular") format("svg");
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'geometric_slab';
    src: url("./fonts/geometric/geometric/geometric_slabserif_703_bold_bt-webfont-webfont.eot");
	src: url("./fonts/geometric/geometric/geometric_slabserif_703_bold_bt-webfont-webfont.eot?#iefix") format("embedded-opentype"),
		 url("./fonts/geometric/geometric_slabserif_703_bold_bt-webfont-webfont.woff") format("woff"),
		 url("./fonts/geometric/geometric_slabserif_703_bold_bt-webfont-webfont.ttf") format("truetype"),
		 url("./fonts/geometric/geometric_slabserif_703_bold_bt-webfont-webfont.svg#lobster_twobold") format("svg");
    font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: 'geometric_slab';
    src: url("./fonts/geometric/geometric_slabserif_703_light_bt-webfont-webfont.eot");
	src: url("./fonts/geometric/geometric_slabserif_703_light_bt-webfont-webfont.eot?#iefix") format("embedded-opentype"),
		 url("./fonts/geometric/geometric_slabserif_703_light_bt-webfont-webfont.woff") format("woff"),
		 url("./fonts/geometric/geometric_slabserif_703_light_bt-webfont-webfont.ttf") format("truetype"),
		 url("./fonts/geometric/geometric_slabserif_703_light_bt-webfont-webfont.svg#lobster_twobold") format("svg");
    font-weight: lighter;
	font-style: normal;
}
