// Type

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;

	a {
		text-decoration: none;
	}
}

h1,
.h1,
.title--style-a {
	font-size: 60px;
	line-height: $vr*8;
	margin-bottom: $vr*2;
}

h2,
.h2,
.title--style-b {
	font-size: 40px;
	line-height: $vr*5;
	margin-bottom: $vr*2;
}

h3,
.h3,
.title--style-c {
	font-size: 20px;
	line-height: $vr*4;
	margin-bottom: $vr;
}

h4,
.h4,
.title--style-d {
	font-size: 18px;
	line-height: $vr*3;
	margin-bottom: $vr*2;
}

h5,
.h5,
.title--style-e {
	font-size: $font-size-base;
	line-height: $vr*3;
	margin-bottom: $vr*2;
}

h6,
.delta,
.title--style-f {

}

// Paragraphs
p {
	margin-top: 0;
	margin-bottom: $vr*2;
}


// only used on the stylesheet
.header-stylesheet {
	border-bottom: 1px solid #CCC;
	color: #bbb;
	font-size: 18px;
	line-height: $vr*4;
	margin-bottom: $vr*4;
	padding-top: $vr*6;
	padding-bottom: $vr*2;
	text-align: left;

	&:first-child {
		padding-top: 0;
	}
}
