//alerts.scss
$color-notice: #0081ad;
$color-success: #95c23d;
$color-error: #e63417;
$color-warning: #d07709;

.flash-alerts {
	width: 100%;
	clear: both;
	color: $color-text;

	.js & {
		display: none;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1001;

		&.flash-alerts--in {
			display: block;
		}
	}
}

.flash-alerts-inner {
	position: relative;

	@media #{$BPD} {
		padding-bottom: 0;
		margin: 0 auto;
	}
}

.alert-container {
	margin-bottom: $vr*2;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.alert {
	background: $brand-color-d;
	position: relative;
	z-index: 1001;
	margin: 0;
	padding: $vr $ggw*2;
  text-align: left;
  color: $brand-white;

	@media #{$BPD} {
		padding: 15px $ggw*2;
	}

	@media #{$BPG} {
		padding: 16px $ggw*3;
	}

	.alert + & {
		margin-top: $vr;
	}

	&.alert--error {
		background: $color-error;
	}

	&.alert--success {
		background: $color-success;
	}

	&.alert--notice {
		background: $color-notice;
		color: $brand-white;
	}

	.cssanimations & {
		opacity: 0;
		@include animation-duration(500ms);
		@include animation-fill(both);

		display: none;

		&.alert--in {
			@include animation-name(fadeInUp);
		}

		&.alert--out {
			@include animation-name(fadeOutDown);
		}

		&.alert--show {
			display: block;

			&.alert--out {
				display: none;
			}
		}
	}

	.no-cssanimations & {
		opacity: 0;
		transition: opacity 500ms;

		&.alert--in {
			opacity: 1;
		}

		&.alert--out {
			opacity: 0;
		}

		&.alert--show {
			display: block;
		}
	}
}

.alert__inner {

    @media #{$BPD} {
		position: relative;
		margin: 0 auto;
	}
}

.alert__icon {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 6;

	@media #{$BPD} {
		top: 0;
    	left: -30px
	}

	@media #{$BPG} {
		top: 0;
		left: -40px;
	}

	.icon {
		font-size: 20px;
		z-index: 3;
		color: currentColor;

		@media #{$BPG} {
			font-size: 24px;
		}
	}
}

.alert__content {
	font-size: 14px;
	line-height: $vr*3;
	color: $brand-white;

	p {
		margin-top: 0;
		margin-bottom: $vr*2;
		font-size: 15px;
		line-height: 23px;
		color: $brand-white;

		@media #{$BPG} {
			font-size: 16px;
			line-height: 26px;
		}
	}

	*:last-child {
		margin-bottom: 0;
	}
}

.alert--dismiss {
	position: absolute;
	top: 2px;
	right: $vr;
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
	color: currentColor;
	font-size: 14px;
	line-height: $vr*5;

	@media #{$BPD} {
		top: -3px;
		right: -20px;
	}

	@media #{$BPG} {
		top: -6px;
	}
}

.alert__title {
  color: $brand-white;
}