<div class="grid">
	<div class="layout">
		<div class="region region--a">
			<div class="region-inner">

                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>

                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>

                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>

                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>

                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>
                <div class="block block--single"></div>

			</div>
		</div>
	</div>
</div>
