---
title: Example Layout
pageType: layoutPage
stmPageNav: true
layoutPage: true
---

{{#extend "layout"}}

	{{#content "region--a"}}
		<p class="block block--size-a">region-a</p>
	{{/content}}

{{/extend}}
