---
title: Styleguide
visibleBreakpoints: true
visibleGrid: true
stmPageNav: true
---

{{#extend "layout"}}
	{{#content "region--a"}}
		{{>styleguide/styleguide}}
		{{>other/alert alerts.alertsA}}
	{{/content}}
{{/extend}}
