// for monitor-mq.js

.monitor-mq {
	display: block;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: -9999em;
	left: -9999em;
	// smallest
	width: $break-point-a;

	&.rtl {
		left: auto;
		right: -9999em;
	}

	.visible-breakpoints &:after {
		background: rgba(0,0,0,0.5);
		color: white;
		// smallest
		content: '$BPA';
		font-weight: $font-weight-bold;
		padding: $vr $vr*2;
		position: fixed;
		right: $vr*3;
		bottom: $vr*3;
		text-align: center;
		z-index: 1000;
	}

	@media #{$BPB} {
		width: $break-point-b-px;

		.visible-breakpoints &:after {
			content: '$BPB';
			background: rgba(205,25,45,0.5);
		}
	}

	@media #{$BPC} {
		width: $break-point-c-px;

		.visible-breakpoints &:after {
			content: '$BPC';
			background: rgba(105,125,245,0.5);
			color: #222;
		}
	}

	@media #{$BPD} {
		width: $break-point-d-px;

		.visible-breakpoints &:after {
			content: '$BPD';
			background: rgba(25,205,111,0.5);
		}
	}

	@media #{$BPE} {
		width: $break-point-e-px;

		.visible-breakpoints &:after {
			content: '$BPE';
			background: rgba(47,25,205,0.5);
		}
	}

	@media #{$BPF} {
		width: $break-point-f-px;

		.visible-breakpoints &:after {
			content: '$BPF';
			background: rgba(205,25,205,0.5);
		}
	}

	@media #{$BPG} {
		width: $break-point-g-px;

		.visible-breakpoints &:after {
			content: '$BPG +';
			background: rgba(205,52,25,0.5);
			color: $brand-white;
		}
	}
}
