{{!-- jQuery --}}
<script src="_scripts/jquery.min.js"></script>
<!-- babel polyfill  -->
<script src="/_scripts/polyfill.min.js"></script>
{{!-- Validation Scripts --}}
<script src="_scripts/validation.js"></script>

{{!-- Our scripts --}}
{{!-- detect IE - https://codepen.io/gapcode/pen/vEJNZN  --}}
<script>
	var ua = window.navigator.userAgent;
	var _stm_msie = ua.indexOf('MSIE ');
	var _stm_trident = ua.indexOf('Trident/');

	function getParameterByName(name) {
	    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
	    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
	        results = regex.exec(location.search);
	    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
	}

	var debugQS = getParameterByName('debug');
	var script = document.createElement('script');
	script.type = 'text/javascript';
	script.src = '/_scripts/scripts.min.js';

	if (debugQS && debugQS.length > 0) {
		if (debugQS === 'true') {
			if (_stm_msie > 0 || _stm_trident > 0) {
				script.src = '/_scripts/scripts.es5.js';
			} else {
				script.src = '/_scripts/scripts.js';
			}
		}
	}

	document.body.appendChild(script);
</script>

{{!-- <script src="_scripts/scripts.js"></script> --}}
