// layout.scss

.main {
	overflow: hidden;
	position: relative;
}

.layout {
	@include clearfix();
	position: relative;
	margin: 0 $ggw;
	max-width: $max-width;

	@media #{$BPG} {
		margin: 0 auto;
	}
}

.masonry {
	overflow: hidden;
	clear: both;
}

.region {

	@media #{$BPC} {
		position: relative;
		float: left;
	}
}

.region-inner {
	position: relative;
}

.block {
	float: left;
	width: 100%;
	max-width: 100%;
	margin-bottom: $vr*3;

	img {
		max-width: 100%;
		height: auto;
		vertical-align: top;
	}

	&.block--last {

		& + .block {
			clear: both;
		}
	}

	.js .masonry & {
		margin-right: 0!important;

		 @media #{$BPC} {
			margin-bottom: 0!important;
		}
	}
}

.block-sizer {
	float: left;
	max-width: 100%;
}

.gutter-sizer {
	float: left;
	max-width: 100%;
}

.block-last-clear {
	clear: both;
}

@mixin region-blocks($region-outer-width:0, $region-inner-width:0) {

	.block--single {

		 @media #{$BPC} {
			@include fluid-width($gcw*1, $region-inner-width);
		}
	}

	.block--size-a {

		 @media #{$BPC} {
			// 100%
			 @include fluid-width(($gcw*24) + ($ggw*23), $region-inner-width);
		}
	}

	.block--size-b {

		 @media #{$BPC} {
			// 66%
			@include fluid-width(($grid-column-width*16) + ($grid-gutter-width*15),  $region-inner-width);
		}
	}

	.block--size-c {

		 @media #{$BPC} {
			// 33%
			@include fluid-width(($gcw*8) + ($ggw*7), $region-inner-width);
		}
	}

	.block--size-d {

		 @media #{$BPC} {
			// 50%
			@include fluid-width(($gcw*12) + ($ggw*11), $region-inner-width);
		}
	}

	.block--size-e {

		 @media #{$BPC} {
			// 60%
			@include fluid-width(($gcw*14) + ($ggw*13), $region-inner-width);
		}
	}

	.block--size-f {

		 @media #{$BPC} {
			// 40%
			@include fluid-width(($gcw*10) + ($ggw*9), $region-inner-width);
		}
	}

	.block--size-g {

		 @media #{$BPC} {
			// 25%
			@include fluid-width(($gcw*6) + ($ggw*5), $region-inner-width);
		}
	}
}

.region--a {

	// Grid layout above $break-point-d only
	 @media #{$BPC} {
		position: relative;
		float: left;
		@include fluid-width($region-a-width, $max-width);

		.region-inner{
			position: relative;
			@include fluid-width($region-a-inner-width, $region-a-width);
		}

		.block {
			@include fluid-margin-right($ggw, $region-a-inner-width);
		}

		.gutter-sizer {
			@include fluid-width($ggw, $region-a-inner-width);
		}
	}

	@include region-blocks($region-a-width, $region-a-inner-width);
}

// show the grid
.visible-grid-in {

	.block {
		background: rgba(202, 214, 25, 0.5);
	}
}

.gridblock {
	background: $brand-color-a;
	color: #FFF;
	padding: $vr*2 15px;
	text-align: center;

	p {
		margin: 0;
	}
}

.gridblock__title {
	color: #FFF;
	margin-top: 0;
	font-size: 24px;
	line-height: $vr*5;
}
