<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="robots" content="noindex, nofollow" />
        <title>{{{global.title}}} {{{global.version}}}</title>
        <link rel="icon" href="_stm/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="_stm/style.css" />

    </head>
    <body>
        {{#block "master__main"}}{{/block}}
    </body>
</html>