---
component: stm-page-nav
hide: true
published: false
---

<!-- FOR USE stm DEMO SITE ONLY * START * -->
<div class="stm-page-nav">
	<div class="stm-page-nav-top">
		<button class="action-stm-page-nav-close stm-page-nav-close btn btn--small">
			<i class="stm-icon stm-icon-close">
				<b>close</b>
			</i>
		</button>
	</div>
	<div class="stm-page-nav-inner">

		{{!-- <h2 class="stm-page-title"><a class="stm-home-link" href="/">Back to home page</a></h2> --}}

		{{> _stm/styleguide-link}}
		{{> _stm/page-list}}
		{{> _stm/component-list}}
		{{> _stm/rtl-list}}
		{{> _stm/layout-list}}

	</div>
</div>
<!-- FOR USE stm DEMO SITE ONLY * END * -->
